
.center{
    /* width:50%;
    height:50%;
    margin-top: 50px;
    margin-left: 50px; */
}

.form{
    border-radius: 20px;
    width: 80%;
    height:450px;
    background-color: cadetblue;
    margin-left: 50px;
}

.input-email{
    margin-left: 10px;
    width: 25px;
    border-color: #0000;
    background-color: rgb(169, 214, 214);
    
}
.h-text{
    margin-left: 5px
}
.slot_btn {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-top: 90px;
    }
  
  .slot_btn:hover {
    background-color: #009688;
    box-shadow: 0px 15px 20px rgba(47, 87, 35, 0.73);
    color: #fff;
    transform: translateY(-7px);
  }