.h1{
    background-color: #009688;
    color: aliceblue;
    font-size: 50px;
    margin-left: 50;
    margin-right: 50;
    margin-top: 0px;
    height: 100px;
}
.block_Area{
    display: flex;
}
.block_1{
    flex-direction: column;
    margin-left: 10px;
    border: 1px solid #555555;
    background-color: #555858;
    color: aliceblue;
    width: 100px;
    cursor: pointer;
}
.block_1:hover{
    background-color:white;
    color: black;
}
.block_2{
    flex-direction: column;
    margin-left: 70px;
    border: 1px solid #555555;
    background-color: #555858;
    color: aliceblue;
    width: 100px;
    cursor: pointer;
}
.block_2:hover{
    background-color:white;
    color: black;
}
.block_3{
    flex-direction: column;
    margin-left: 100px;
    border: 1px solid #555555;
    background-color: #555858;
    color: aliceblue;
    width: 100px;
    cursor: pointer;
}
.block_3:hover{
    background-color:white;
    color: black;
}
.select_Area{
    /* width: 500px; */
    border: 1px solid black;
    background-color: rgb(137, 226, 219);
    /* padding: 80px; */
    height: 500px;
    margin: 20px;
    
}
.date-picker{
}