.h1{
    background-color: #009688;
    color: aliceblue;
    font-size: 50px;
    margin-left: 50;
    margin-right: 50;
    margin-top: 0px;
    height: 100px;
}
.block_Area{
    display: flex;
}
.block_1{
    flex-direction: column;
    margin-left: 100px;
    border: 1px solid #555555;
    background-color: #555858;
    color: aliceblue;
    width: 100px;
    cursor: pointer;
}
.block_1:hover{
    background-color:white;
    color: black;
}
.select_Area{
    /* width: 500px; */
    border: 1px solid black;
    background-color: rgb(202, 214, 213);
    /* padding: 80px; */
    height: 500px;
    margin: 20px;
}
/* .slot_btn{
    width:100px;

} */

.slot_btn {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    }
  
  .slot_btn:hover {
    background-color: #009688;
        box-shadow: 0px 15px 20px rgba(47, 87, 35, 0.73);
    color: #fff;
    transform: translateY(-7px);
  }
  .DatePicker{
      display: flex;
      width:150px;
      /* margin-left: 5px; */
  }